.light > .App-header{
    background-color: #182b50!important;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
}
.tall {
    height: 100vh;

}
.grow {
  flex-grow: 1;  
}
.main {
    
    font-weight: bold;
    color: #091a1f;
    background: rgb(103,101,148);
    background: linear-gradient(90deg, rgba(103,101,148,1) 0%, rgba(174,174,215,1) 31%, rgba(229,240,242,1) 100%); 
    text-align: left;
    font-style: italic;
    border: solid rgb(128,128,128, 0.3);
}
.A {
    color: #091a1f;
    text-align: center;
    font-style: italic;
    border: solid rgb(42, 40, 49);
    min-width: 300px;
    
}
.B {
    color: #091a1f;
    background: rgb(103,101,148);
    background: linear-gradient(90deg, rgba(103,101,148,1) 0%, rgba(174,174,215,1) 31%, rgba(229,240,242,1) 100%);     text-align: center;
    font-style: italic;
    border: solid rgb(42, 40, 49);
}
.C {
    color: #091a1f;
    background: rgb(103,101,148);
    background: linear-gradient(90deg, rgba(103,101,148,1) 0%, rgba(174,174,215,1) 31%, rgba(229,240,242,1) 100%);     text-align: center;
    font-style: italic;
    border: solid rgb(42, 40, 49)
}
.Aboutus {
    border: solid;

}
.Ourwork {
    border: solid;
}
.Testimonials {
    border: solid;
}
.Contact {
    border: solid;
}
.H {
    font-family: cursive;
}